<h1>Submit a new post</h1>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>


  <%= f.label :boby %>
  <%= f.text_area :body %> <br>

  <%= f.submit "Create Secret post!" %>
<% end %>